@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@300;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*
font-family: 'Roboto Condensed', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    padding-bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
    background-color: rgb(250, 254, 252);
    text-align: justify;
    font-family: 'Roboto Condensed';
    font-size: 17px;
    font-weight: 400;
    line-height: 2;
    color: #003d51;
    overflow-x: hidden;
}
h1{
    text-align: center;
}
h2{
    font-family: 'Roboto Condensed';
}

/*          HEADER        */
.header{
    width: 100vw;
    height: 4rem;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}
.header-container{
    width: 100vw;
    margin-bottom: 0.5rem;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 254, 252);
}


.logo-header{
    width: 220px;
    height: 70px;
}


.header-nav li{
    display: flex;
    list-style: none;
}

.header-nav a{
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.header-nav li :hover{
    text-decoration: underline wavy #A3D55D;
}




/*   CONTENEDOR DE TODO EL MAIN   */

.main-blog{
    width: 100%;
    flex-grow: 1;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding-right: .1rem;
    text-align: center;
}
/*          CONTENEDOR DE ARTICLES          */
.articleContainer{
    width: 100%;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
    font-family: "Roboto Condensed";
}
.articleContainer img{
    width: 100%;
}
.articleContainer button{
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color:#d3dcde;
}
.articleContainer a{
    color: #003d51;
    text-decoration: none;
}
.articleContainer button :hover{
    color: white;
}
.first-article, .second-article, .third-article, .fourth-article{
    margin-top: .5rem;
    background-color: #d3dcde;
    color: #003d51;
}
.first-article h2, .second-article h2, .third-article h2, .fourth-article h2{
    margin-top: 1rem;
    font-size: 23px;
}
.first-article p, .second-article p, .third-article p, .fourth-article p{
    padding: 1rem;
}
.first-article a, .second-article a, .third-article a, .fourth-article a{
    color:#00748C;

}


/*          ARTICULOS          */
.article1, .article2, .article3, .article4{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: .5rem;
    padding-right: 1rem;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: normal;
    font-family: "Roboto Condensed";
}

.article1 h2, .article2 h2, .article3 h2, .article4 h2{
    margin-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
}
.article1 p, .article2 p, .article3 p, .article4 p{
    margin-bottom: 1rem;
    color: #003d51;
}
.article1 ol,.article3 ol{
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: inside;
}

.article1 img{
    flex-grow: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.article4-video{
    width: 100%;
    height: auto;
    text-align: center;
}
.link{
    width: 30vw;
    height: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
}
.link :hover{
    color: #A3D55D;
}
.article1 a, .article2 a, .article3 a, .article4 a{
    width: 100vw;
    color: #003d51;
}




/* SEPARADOR */
hr{
    border: solid 1px #00748C;
    display: inline;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4rem;
}

/* BANNER DE COOKIES*/
.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}
.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}

/*           FOOTER       */
.footer{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.social-media{
    display: flex;
    position: relative;
}
ol.social-media{
    list-style: none;
    display:flex;
    gap: 1.5rem;
    margin-top: 3rem;

}
.social-media svg{
    fill: #A3D55D;
}
.social-media :hover{
    opacity: 85%;
}

.footer-links a{
    color: #A3D55D;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
}
.footer li :hover :nth-child(:first-child){
    text-decoration: underline wavy #A3D55D;
}
.telefono a, .mail a{
    color: #A3D55D;
}

/*       DISEÑO RESPONSIVE       */
@media screen and (min-width: 320px){
    body{
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }

    .header-container{
        height: 7rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(250, 254, 252);
    }

    .header-nav{
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.3rem;
    }
    .header-nav li{
        display: inline;
        padding: 0.5rem;
    }
    .header-nav a{
        font-size: 12px;
        color: #003d51;
    }

    .logo-header{
        display: flex;
        justify-content: center;
        width: 140px;
        height: 50px;
        margin-top: 0.6rem;
    }
    h1{
        font-size: 22px;
        font-family: 'Roboto Condensed';
    }
    h2{
        font-family: 'Roboto Condensed';
        font-size: 20px;
    }
    .article1, .article2 h2, .article3 h2, .article4 h2{
        margin-bottom: 1rem;
        margin-top: 2.5rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: .5rem;
        margin: 2rem;
        padding: 2rem;
        text-align: center;
    }
    .social-media{
        display: inline;
        justify-content:center;
    }
}

@media screen and (min-width: 768px){
    .header{
        height: 9rem;
        margin-top: 0;
    }
    .header-container{
        height: 9rem;
        display: flex;
        flex-direction: column;
    }
    .header-container > .logo-header{
        margin-top: 5rem;
    }

    .header-nav{
        margin-bottom: 2.5rem;
        display: flex;
        margin-left: 7rem;
    }
    .header-nav ol{
        margin-right: 4rem;
        display: flex;
        margin-bottom: 1rem;
        gap: 3rem;
    }
    .header-nav li{
        margin-bottom: 1rem;
    }
    .header-nav a{
        font-size: 17px;
    }

    .logo-header{
        margin-top: 5rem;
        width: 220px;
        height: 70px;
    }

    /*          BLOG PAGE           */
    .articleContainer{
        font-size: 17px;
    }
    .first-article, .second-article, .third-article, .fourth-article{
        font-size: 17px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .second-article, .fourth-article{
        grid-template-areas:
        "texto imagen";
    }
    .second-article-img, .fourth-article-img{
        grid-area: imagen;
    }

    .first-article img, .second-article img, .third-article img, .fourth-article img{
        height: 100%;
    }

    .first-article a, .second-article a, .third-article a, .fourth-article a{
        color:#00748C;
    }

    /*      Artículos          */
    .article1 img{
        width: 50%;
        align-self: center;
    }
    .link a{
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .article4 :not(h2){
        display: flex;
    }
    .article4-texto{
        position: absolute;
        text-align: justify;
        margin-top: 9rem;
        margin-left: 25rem;
        padding-right: .5rem;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
        gap: 1rem;
    }
    .social-media{
        position: relative;
        margin-left: 2rem;
    }
    .footer-links{
        display: flex;
    }
}

@media screen and (min-width: 1024px){
    main{
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .header{
        height: 10rem;
        margin-top: 0;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        height: 10rem;
        margin-top: 0;
    }
    .header-container .logo-header{
        margin-top: 6rem;
    }
    .header-nav{
        display: flex;
        padding: 0;
        margin-bottom: 3.5rem;
    }
    .header-nav ol{
        display: flex;
        justify-content: space-around;
    }

    .header-nav a{
        font-size: 19px;
    }
    .logo-header{
        width: 220px;
        height: 70px;
    }

    .first-article h2, .second-article h2, .third-article h2, .fourth-article h2{
        margin-top: 3rem;
    }
    .first-article p, .second-article p, .third-article p, .fourth-article p{
        padding: 4rem;
        text-align: justify;
    }

    .footer{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 4rem;
        margin-bottom: 0;
    }

}