@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Montserrat:wght@300;700&display=swap');
/* Estas son del import de arriba
font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*
font-family: 'Roboto Condensed', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
    background-color: rgb(250, 254, 252);
    text-align: justify;
    font-family: 'Roboto Condensed';
    font-size: 17px;
    font-weight: 400;
    line-height: 2;
    color: #003d51;
}
h1{
    font-size: 37.4px;
    text-align: center;
}
h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
}


/*          HEADER        */
.header{
    width: 100vw;
    height: 4rem;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}
.header-container{
    width: 100vw;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 4rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
}


.logo-header{
    width: 220px;
    height: 70px;
}


.header-nav li{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-right: 10rem;
    list-style: none;
}

.header-nav a{
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
}

.header-nav li :hover{
    text-decoration: underline wavy #A3D55D;
}




/*   CONTENEDOR DE TODO EL MAIN   */
.main{
    margin: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

/* FORMULARIO */

.formulario{
    margin-top: 5rem;
}

table{
    display: flex;
    width: 100vw;
}

input{
    border-bottom: 1px solid rgb(14, 13, 13);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

/* BOTÓN DE ENVIAR */
.button{
    border-bottom: none;
    border-radius: 10%;
    background-color: #A3D55D;
    box-shadow: 3px 3px rgb(179, 175, 175);
    font-size: 18px;
    width: 60px;
    height: 35px;
    color: rgb(251, 249, 249);
    margin-left: 13rem;
    margin-top: 1rem;
}

/* SEPARADOR */
hr{
    border: solid 1px #00748C;
    display: inline;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 6rem;
}


/*           FOOTER       */
.footer{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.social-media{
    display: flex;
    position: relative;
}
ol.social-media{
    list-style: none;
    display:flex;
    gap: 1.5rem;
    margin-top: 5.5rem;

}
.social-media svg{
    fill: #A3D55D;
}
.social-media :hover{
    opacity: 85%;
}


.logo-footer{
    width: 220px;
    height: 70px;
}

.footer-links a{
    color: #A3D55D;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
}
.footer li :hover :nth-child(:first-child){
    text-decoration: underline wavy #A3D55D;
}
.telefono a{
    color: #A3D55D;
}

/* DETALLES DE LAS PÁGINAS*/
.politica-cookies, .politica-privacidad, .aviso-legal{
    margin: 0.5rem 230px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
}
.politica-cookies h1, .aviso-legal h1, .politica-privacidad h1{
    margin:1rem;
}

.politica-privacidad h2, .aviso-legal h2, .politica-cookies h2{
    text-align: left;
    font-size: 23px;
    margin-top: 1rem;
}
.politica-privacidad div, .aviso-legal div, .politica-cookies div{
    margin: 0.8rem;
}

.aviso-legal a{
    color: #A3D55D;
}

/*ESTA ES LA TABLA DE LA PÁGINA DE COOKIES*/
table{
    border-collapse: collapse;
    text-align: center;
    width: 80%;
}

.cookies-table td{
    border: solid 1px black;
}
.browsers li{
    list-style: disc;
}
.browsers a{
    text-decoration: none;
    color: #A3D55D;
}
.mail{
    color: #A3D55D;
}






/*       DISEÑO RESPONSIVE       */
@media screen and (min-width: 375px){
    body{
        min-width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;

    }

    .header-container{
        height: 8rem;
        display: flex;
        background-color: white;
    }

    .header-nav li{
        display: flex;
        gap: 0.5rem;
        margin-left: 0.5rem;
        padding: 0;
    }
    .header-nav a{
        font-size: 14px;
    }

    .logo-header{
        display: flex;
        justify-content: center;
        margin: 0.5rem;
    }

    .social-media{
        justify-content:center;
    }

    table{
        display: flex;
    }


    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer .logo{
        display: flex;
        justify-content: center;
    }

}

@media screen and (min-width: 768px){

    .header-container{
        display: flex;
    }
    .social-media{
        position: relative;
        margin-left: 2rem;
    }
    .header-nav ol{
        margin-right: 1.5rem;
        margin-top: 1rem;
        display: flex;
        gap: 2rem;
    }
    .header-nav li{
        margin: 0.3rem;
    }
    .header-nav a{
        font-size: 17px;
    }

    .header-container .logo-header{
        margin: 0.2rem;
    }
    .logo-header{
        margin-left: 2rem;
    }
    table{
        display: flex;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        gap: 1rem;
    }
    .footer-links{
        display: flex;
    }
}

@media screen and (min-width: 1024px){
    main{
        margin: 0.2rem;
        padding: 0.2rem;
    }

    .header-nav ol{
        display: flex;
        gap: 4rem;
        margin-right: 7rem;
    }

    .header-nav a{
        font-size: 17px;
    }

    table{
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 4rem;
        margin-bottom: 0;
    }

}