@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
/*
font-family: 'Roboto Condensed', sans-serif;
*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    padding-bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
    background-color: rgb(250, 254, 252);
    text-align: justify;
    font-family: 'Roboto Condensed';
    font-size: 17px;
    font-weight: 400;
    line-height: 2;
    color: #003d51;
    overflow-x: hidden;
}
h1{
    text-align: center;
}
h2{
    font-family: 'Roboto Condensed';
    text-align: center;
}


/*          HEADER        */
.header{
    width: 100vw;
    margin-bottom: 0.5rem;
    flex-grow: 1;
}
.header-container{
    width: 100vw;
    margin-bottom: 0.5rem;
    height: 4rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 254, 252);
    z-index: 2;
}


.logo-header{
    width: 220px;
    height: 70px;
}


.header-nav li{
    display: flex;
    list-style: none;
}

.header-nav a{
    text-decoration: none;
    font-family: 'Roboto Condensed';
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}

.header-nav li :hover{
    text-decoration: underline wavy #A3D55D;
}




/*   CONTENEDOR DE TODO EL MAIN   */
.container{
    margin-top: 3rem;
}
.main{
    margin: 0;
    display: flex;
    flex-direction: column;
}
.quienes-somos h2, .metodo-alendia h2{
    margin: 2.5rem;
}
.quienes-somos p{
    margin: 1rem;
}
.quienes-somos-img{
    flex-grow: 1;
    width: 100%;
    height: fit-content;
}
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.images img{
    width: 70px;
    height: 70px;
}
.video{
    flex-grow: 1;
    display: flex;
}
.yt-video{
    border-radius: 1%;
}
.link-to-form a{
    text-decoration: none;
    font-size: 20px;
    color: #A3D55D;   
}
.link-to-form a:hover{
    font-size: 22px;
    text-transform: uppercase;
}

.metodo-image{
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-grow: 1;
}


.bottom-div{
    flex-grow: 1;
}

.sello-container{
    width: 100vw;
    padding-right:20rem ;
    display: inline;
    align-items: center;
    position:absolute;
    flex-grow: 1;
}
.sello{
    width: 400px;
    height: 400px;
    opacity: 0.2;
    transform: rotate(15deg);
    flex-grow: 1;
}
.items-metodo{
    color: #080a0b;
    z-index: 1;
}


/* BOTÓN DE ENVIAR */
.wf-btn{
    border-bottom: none;
    border-radius: 10%;
    background-color: #A3D55D;
    box-shadow: 3px 3px #abcf7a;
    font-size: 18px;
    width: 60px;
    height: 35px;
    color: rgb(251, 249, 249);
    margin-left: 13rem;
    margin-top: 1rem;
}

/* SEPARADOR */
hr{
    border: solid 1px #00748C;
    display: inline;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3rem;
}

/* BANNER DE COOKIES*/
.aviso-cookies {
	display: none;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 100;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}
.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
}

.aviso-cookies .boton {
	width: 100%;
	background: #595959;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.background-aviso-cookies {
	display: none;
	background: rgba(0,0,0,.20);
	position: fixed;
	z-index: 99;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.background-aviso-cookies.activo {
	display: block;
}


/*           FOOTER       */
.footer{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
.social-media{
    display: flex;
    position: relative;
}
ol.social-media{
    list-style: none;
    display:flex;
    gap: 1.5rem;
    margin-top: 3rem;

}
.social-media svg{
    fill: #A3D55D;
}
.social-media :hover{
    opacity: 85%;
}

.footer-links a{
    color: #A3D55D;
}
.footer li{
    list-style: none;
}
.footer a{
    text-decoration: none;
}
.footer li :hover :nth-child(:first-child){
    text-decoration: underline wavy #A3D55D;
}
.telefono a, .mail a{
    color: #A3D55D;
}

/* DETALLES DE LAS PÁGINAS*/
.politica-cookies, .politica-privacidad, .aviso-legal{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.politica-cookies h1, .aviso-legal h1, .politica-privacidad h1{
    margin:1rem;
    padding: 1.2rem;
}

.politica-privacidad h2, .aviso-legal h2, .politica-cookies h2{
    text-align: left;
    font-size: 20px;
    margin-top: 1rem;
}

.aviso-legal a{
    color: #A3D55D;
}

/*ESTA ES LA TABLA DE LA PÁGINA DE COOKIES*/
table{
    border-collapse: collapse;
    text-align: center;
    width: 80%;
}

.cookies-table td{
    border: solid 1px black;
}
.browsers li{
    list-style: disc;
}
.browsers a{
    text-decoration: none;
    color: #A3D55D;
}
.mail{
    color: #A3D55D;
}






/*       DISEÑO RESPONSIVE       */
@media screen and (min-width: 320px){
    body{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        overflow-x: hidden;
    }

    .header-container{
        height: 7rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(250, 254, 252);
    }

    .header-nav{
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0.3rem;
    }
    .header-nav li{
        display: inline;
        padding: 0.5rem;
    }
    .header-nav a{
        font-size: 12px;
        color: #003d51;
    }

    .logo-header{
        display: flex;
        justify-content: center;
        width: 140px;
        height: 50px;
        margin-top: 0.6rem;
    }
    h1{
        font-size: 22px;
        font-family: 'Roboto Condensed';
    }
    h2{
        font-family: 'Roboto Condensed';
        font-size: 20px;
    }

    p{
        font-size: 12px;
    }

    .container{
        margin-right: .5rem;
    }
    .main{
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
    }

    .video{
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    .image-container{
        text-align: center;
    }
    .images{
        margin-top: 1.5rem;
        gap: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .images img{
        width: 50px;
        height: 50px;
    }
    .images p{
        font-size: 13px;
        font-weight: bold;
        opacity: 95%;
    }
    
    .social-media{
        justify-content:center;
    }

    table{
        display: flex;
    }

    .items-metodo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 13px;
    }
    .metodo-alendia :not(.metodo-image){
        margin:0.2rem;
    }
    .metodo-image{
        width: 100%;
        flex-grow: 1;
    }

    .sello-container{
        text-align: center;
    }
    .sello{
        width:200px;
        height: 200px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        margin: 1rem;
        text-align: center;
    }
    .social-media{
        display: inline;
    }


}

@media screen and (min-width: 768px){

    body{
        overflow-x: hidden;
    }
    .main p{
        font-size: 15px;
    }
    .header{
        height: 9rem;
        margin-top: 0;
    }
    .header-container{
        height: 9rem;

        display: flex;
        flex-direction: column;
    }
    .header-container > .logo-header{
        margin-top: 5rem;
    }

    .header-nav{
        margin-bottom: 2.5rem;
    }
    .header-nav ol{
        margin-right: 4rem;
        display: flex;
        margin-bottom: 1rem;
        gap: 3rem;
    }
    .header-nav li{
        margin-bottom: 1rem;
    }
    .header-nav a{
        font-size: 17px;
    }

    .logo-header{
        margin-top: 5rem;
        width: 220px;
        height: 70px;
    }
    h1, h2{
        margin-top: 3rem;
    }

    .container{
        margin-left: 0.2rem;
    }
    .images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .images img{
        width: 70px;
        height: 70px;
    }
    .last-div-quienes-somos{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }
    .metodo-alendia p{
        text-align: center;
    }
    .bottom-div{
        padding-left: 5rem;
        align-items: center;
    }
    .items-metodo{
        font-size: 15px;
        gap: 1rem;
    }
    table{
        display: flex;
    }
    .sello{
        width: 300px;
        height:300px;
        float: right;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 0.5rem;
        margin-right: 3rem;
        margin-left: 3rem;
        gap: 1rem;
    }
    .footer-links{
        display: flex;
    }
    .social-media{
        position: relative;
        margin-left: 2rem;
    }
}

@media screen and (min-width: 1024px){
    main{
        width: 100%;
    }
    p{
        font-size: 17px;
    }

    .header{
        height: 10rem;
        margin-top: 0;
    }
    .header-container{
        display: flex;
        flex-direction: column;
        height: 10rem;
        margin-top: 0;
    }
    .header-container .logo-header{
        margin-top: 6rem;
    }
    .header-nav{
        display: flex;
        padding: 0;
        margin-bottom: 3.5rem;
    }
    .header-nav ol{
        display: flex;
        justify-content: space-around;
    }

    .header-nav a{
        font-size: 17px;
    }
    .logo-header{
        width: 220px;
        height: 70px;
    }

    .quienes-somos{
        margin-top: 3rem;
        margin-right: 1rem;
    }
    .quienes-somos-img{
        width: 40%;
        height: 100%;
        border-radius: 1%;
        margin: 1rem;
        float: left;
    }
    .video{
        width: 100%;
        height: 40rem;
        background-color:#00748C;
        margin-top: 50px;
        margin-left: 0;
        align-items: center;
        border: none;
    }

    .p1, .p2{
        text-align: center;
    }
    .p2{
        padding-top: 4rem;
        margin-left: 1rem;
    }
    .images{
        padding: .5rem;
        margin-top: 10rem;
    }
    .last-div-quienes-somos{
        text-align: center;
    }

    .metodo-alendia{
        margin-top: 3rem;
    }
    .items-metodo{
        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .sello{
        width: 350px;
        height:350px;
        padding-bottom: 3rem;
    }

    table{
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 1rem;
        gap: 4rem;
        margin-bottom: 0;
    }

}